.mat-toolbar-single-row {
  justify-content: space-between;
  background-color: #f5e9e2;
  height: 35px;
}
.search {
  margin-right: 5.5em;
}
.buttons {
  margin-left: 5.5em;
}
a {
  padding: 10px 10px 10px 10px;
  margin-right: 10p;
  color: #fff;
}
