<div class="container mat-elevation-z4">
  <mat-card class="mat-card">
    <mat-paginator
      [pageIndex]="currentPage"
      [pageSize]="pageSize"
      [length]="pageAmount"
      (page)="handlePageEvent($event)"
      [hidePageSize]="true"
      aria-label="Select page"
    >
    </mat-paginator>
    <mat-card-title class="checkouts-title">Checkouts </mat-card-title>
    <mat-card-content>
      <mat-nav-list *ngIf="checkouts$ | async as checkouts">
        <a
          *ngFor="let checkout of checkouts.content"
          [ngStyle]="{
            'border-left':
              checkout.dueDate < currentDate ? '#ff7f00 5px solid' : ''
          }"
          mat-list-item
          [routerLink]="['/checkouts', checkout.id]"
        >
          {{ checkout.borrowedBook.title }}
        </a>
      </mat-nav-list>
    </mat-card-content>
  </mat-card>
</div>
