<div class="container mat-elevation-z4">
  <mat-card class="mat-card">
    <div class="filtering">
      <div class="search">
        <input
          id="searchbar"
          [(ngModel)]="searchTerm"
          type="text"
          placeholder="Otsi raamatut"
          (keyup.enter)="search()"
          autocomplete="off"
        />
        <mat-icon class="searchbtn" (click)="search()">search</mat-icon>
      </div>
      <mat-form-field class="select-sort">
        <mat-label>Sorteeri seisu järgi</mat-label>
        <mat-select
          [(value)]="status"
          (selectionChange)="onStatusChange($event)"
        >
          <mat-option
            *ngFor="
              let status of [
                'AVAILABLE',
                'BORROWED',
                'RETURNED',
                'DAMAGED',
                'PROCESSING'
              ]
            "
            [value]="status"
          >
            {{ status }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-paginator
      [pageIndex]="currentPage"
      [pageSize]="pageSize"
      [length]="pageAmount"
      (page)="handlePageEvent($event)"
      [hidePageSize]="true"
      [showFirstLastButtons]="true"
    >
    </mat-paginator>
    <mat-card-title class="books-title"
      >Books
      <button mat-button class="btn-add" (click)="addBook()">
        Lisa raamat
      </button>
    </mat-card-title>
    <mat-card-content>
      <mat-nav-list *ngIf="books$! | async as books">
        <a
          mat-list-item
          *ngFor="let book of books.content"
          [routerLink]="['/books', book.id]"
          [ngStyle]="{
            'border-left':
              book.status !== 'AVAILABLE' ? '#ff7f00 5px solid' : ''
          }"
        >
          {{ book.title }} -
          <span class="book-author">{{ book.author }}</span>
          <mat-icon class="deleteBtn" (click)="onDelete($event, book)"
            >close</mat-icon
          >
        </a>
      </mat-nav-list>
    </mat-card-content>
  </mat-card>
</div>
