<div class="content" *ngIf="book$ | async as book">
  <h1>{{ book.title }}</h1>
  <div>Autor: {{ book.author }}</div>
  <div>Žanr: {{ book.genre }}</div>
  <div>Ilmumisaasta: {{ book.year }}</div>
  <div>Saadavus: {{ book.status }}</div>
  <div *ngIf="book.status != 'AVAILABLE'">Tähtaeg: {{ book.dueDate }}</div>
  <div>Mitu korda on laenutatud: {{ book.checkOutCount }}</div>
  <div>Lisatud: {{ book.added }}</div>
  <div *ngIf="book.comment">Kommentaar: {{ book.comment }}</div>
</div>
<div class="btn" *ngIf="book$ | async as book">
  <button
    mat-button
    [ngStyle]="{ 'background-color': activeColor }"
    [disabled]="isDisabled"
    class="btn-checkout"
    (click)="onCheckout(book)"
  >
    Laenuta
  </button>
</div>
